# {{ ansible_managed }}
---
{% if domain_name_enable and domain_name and domain_homebridge %}
{# Make sure homebridge and nginx-proxy are in the same network #}
networks:
  front-tier:
    name: internet-monitoring-front-tier
    external: true
{% endif %}

services:
  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:ubuntu
    restart: always
    ports:
      - "5353:5353/udp"
    networks:
      - front-tier
{% if domain_name_enable and domain_name and domain_homebridge %}
    environment:
      - VIRTUAL_HOST={{ domain_homebridge }}.{{ domain_name }}
      - VIRTUAL_PORT=8581
{% endif %}
    volumes:
      - homebridge:/homebridge
volumes:
  homebridge: